doctype html
html
	head
		meta(charset='utf-8')
		title= pageTitle
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/style.css')
	body
		include ../public/meny.html
		div.container
			div.starter-template
				h1 Oppgaver
				p Benytt menyen for &aring; navigere til oppgavene